<h1>{{ title }}</h1>
<nav>
	<a routerLink="/dashboard">Dashboard</a>
	<a routerLink="/this-is-not-the-correct-path">Heroes</a>
</nav>
<router-outlet></router-outlet>

<!-- <app-messages></app-messages> -->

<section class="to-do-list">
	<div class="container">
		<h4 class="header">To-Do</h4>
		<ol class="list">
			<li>Fix "Heroes" navigation button.</li>
			<li>Add hero form doesn't add what the user has inputted.</li>
			<li>Deleting a hero from the list doesn't remove them.</li>
			<li>
				Search results on the dashboard do not align with what is
				inputted into the search bar.
			</li>
			<li>
				Clicking into a hero, updating the name and hitting save doesn't
				update the record.
			</li>
		</ol>
	</div>
</section>
