<h1>{{ title }}</h1>
<nav>
	<a routerLink="/dashboard">Dashboard</a>
	<a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>

<!-- <app-messages></app-messages> -->

<section class="to-do-list">
	<div class="container">
		<h4 class="header">
			Well done! Sadly, we also have villains! Every hero has that one
			villain that is their nemesis!
		</h4>
		<ul class="list">
			<li>
				Update the hero form to include a dropdown that will enable us
				to select a nemesis for a given hero.
			</li>
			<li>
				You can get the list of available villains by hitting the URL
				api/villains
			</li>
		</ul>
	</div>
</section>
